@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    padding: 2px;
    background: #f0f0f0;
    border-radius: 10px;

  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #8EDC78;
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #2c2c2c;
  }

  /* Background for dark mode */
  .bg-dark-global {
    background-color: #1e1e1e;
  }

  .line {
    position: relative;
  }

  .line::before {
    content: '';
    position: absolute;
    display: block;
    width: 3px;
    height: 3em;
    top: -4rem;
    border-radius: 10%;
    opacity: .7;
  }

  .line::after {
    content: '';
    position: absolute;
    display: block;
    width: 3px;
    height: 3em;
    bottom: -4rem;
    border-radius: 10%;
    opacity: .7;
  }

}


.swiper-pagination {
  position: relative !important;
}

.swiper-pagination-bullet {
  background: #8EDC78 !important;
  width: 12px;
  height: 12px;
  opacity: 0.6;
  transition: all 0.3s ease;
  margin-top: 22em;
}

.swiper-pagination-bullet-active {
  background: #4bbed3 !important;
  width: 16px;
  height: 16px;
  opacity: 1;
}


@layer components {
  .swiper-pagination {
    @apply !bottom-2 flex justify-center gap-1;
  }

  .swiper-pagination-bullet {
    @apply bg-white/60 w-2 h-2 rounded-full transition;
  }

  .swiper-pagination-bullet-active {
    @apply bg-lightBlue opacity-100 scale-110;
  }
}